body {
  margin: 0;
  padding: 0;
  position: relative; 
  min-height: 100vh; 
  margin-bottom: 60px; 
}


/* Home Styles */
.home-container {
	display: flex;
	height: calc(100vh - 120px); 
	justify-content: center; 
	margin: auto;
	overflow: hidden;
	padding-bottom: 5rem;
}

.home-gif {
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
}
/* Header Styles */
.header-nav {
  align-items: center;
	background-color: #e6e6fa;
	border-bottom: 2px solid #1a0462;
	display: flex;
	justify-content: space-between;
	padding: 1rem 2rem;
}
/* Footer Styles */
.footer {
  background-color: var(--footer-background-color);
  border-top: 2px solid #1a0462;
  bottom: 0;
  left: 0;
  padding: 1rem;
  position: absolute; /* Changed to absolute positioning */
  text-align: center;
  width: 100%;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footer-links {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.footer-links a,
.footer-content p {
  color: var(--primary-color);
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}
/* NotFound Styles */
.not-found {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: calc(100vh - 120px);
	justify-content: center;
	margin: auto;
	overflow: hidden;
	padding: 1rem;
	padding-bottom: 7rem;
	text-align: center;
}
.not-found-image {
	max-height: 50vh;
	max-width: 90%;
}

/* video {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  z-index: -1;
}
.overlay {
  padding: 13vw 6vw;
  background-color: transparent;
  z-index: 1;
  width: 100%;
}
.title {
  font-size: 50px;
  font-weight: 600;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 4px;
  width: 100%;
} */